.certificados {
  width: 100%;
}

.titulo {
  color: #222;
}

.certificadosTable {
  width: 60em;
}
.adicionarButton {
  width: 100%;
}

@media (width <= 1080px) {
  .certificados {
    width: 100%;
  }
  .titulo {
    text-align: center;
  }
  .certificadosTable {
    width: 100%;
  }
  .certificadoMobile{
    width: 100%;
  }
}
